@import "../mixin.scss";

.Cart {
  position: absolute;
  z-index: 5;
  width: 400px;
  max-width: 400px;
  background-color: #fff;
  top: 5.5rem;
  right: 0;
  border-radius: 0.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  @include mx(0.5rem);
  @include media-breakpoint-up($md) {
    left: unset;
  }
  & > * {
    @include px(1.5rem);
  }
  &__header {
    @include py(1rem);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--grayish-blue);
  }
  &__main {
    @include py(1.8rem);
  }
  &__empty {
    height: 7.5rem;
    display: grid;
    place-items: center;
    color: var(--dark-grayish-blue);
    font-size: 1.125rem;
    font-weight: 700;
    white-space: nowrap;
  }
}

.Item {
  $size: 3rem;
  display: grid;
  align-items: center;
  column-gap: 1rem;
  grid-template-columns: $size 1fr $size;
  grid-template-rows: auto auto;
  grid-template-areas:
    "img name del"
    "img price del";

  &--img {
    width: 100%;
    border-radius: 5px;
    grid-area: img;
  }
  &__name,
  &__price {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 5 00;
    color: var(--dark-grayish-blue);
  }
  &__name {
    grid-area: name;
  }
  &__price {
    word-spacing: 0.2rem;
    grid-area: price;
    &__total {
      font-weight: 700;
      color: var(--dark-blue);
    }
  }
  &__del {
    grid-area: del;
    justify-self: flex-end;
  }
}

.ItemCart {
  display: grid;
  gap: 2rem;

  &--checkoutBtn {
    margin-top: auto;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: #fff;
    font-weight: 700;
    font-size: 1.025rem;
    cursor: pointer;
    @include py(0.8rem);
  }
}
