@import "../mixin.scss";

.Cart {
  position: absolute;
  background-color: #fff;
  top: 5.5rem;
  left: 0;
  right: 0;
  border-radius: 0.8rem;
  & > * {
    @include px(1.5rem);
    @include py(1rem);
  }
  &__header {
    font-size: 1.2rem;
    border-bottom: 1px solid var(--grayish-blue);
  }
  &__main {
    min-height: 12rem;
    position: relative;
  }
  &__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--dark-grayish-blue);
    font-size: 1.125rem;
    font-weight: 700;
    white-space: nowrap;
  }
}
