@import "../mixin.scss";
.Main {
  @include mx(1rem);
  @include my(1.5rem);
  @include space-y(1rem);
  @include media-breakpoint-up($xs) {
    text-align: center;
  }
  @include media-breakpoint-up($md) {
    text-align: left;
    align-self: center;
  }
  &__company {
    color: var(--primary);
  }
  &__name {
    font-size: 1.8rem;
    @include media-breakpoint-up($md) {
      font-size: 2.2rem;
      width: 20ch;
    }
  }
  &__description {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 500;
    @include media-breakpoint-up($md) {
      font-size: 1.2rem;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    &--sell {
      font-size: 1.75rem;
      position: relative;
      &::after {
        content: "50%";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 1em;
        font-size: 0.95rem;
        padding: 0.2em 0.4em;
        border-radius: 0.4rem;
        color: var(--primary);
        background-color: var(--primary-1);
      }
    }
    &--actual {
      font-size: 1.075rem;
      color: var(--dark-grayish-blue);
      font-weight: 700;
      text-decoration: line-through;
    }
    @include media-breakpoint-up($xs) {
      flex-direction: column;
      gap: 0.5rem;
    }
    @include media-breakpoint-up($md) {
      align-items: flex-start;
    }
  }

  &--foot {
    width: Min(100%, 400px);
    @include space-y(0.8rem);
    @include mx(auto);

    @include media-breakpoint-up($md) {
      width: 100%;
      display: flex;
      gap: 1rem;
      @include space-y(0);
    }

    &__amount {
      background-color: var(--light-grayish-blue);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;

      img {
        cursor: pointer;
      }
      &--input {
        width: 100%;
        font-weight: 700;
        font-size: 1.025rem;
        border: none;
        outline: none;
        text-align: center;
        background-color: transparent;
      }
      &--plus,
      &--minus {
        @include mx(auto);
      }
      @include media-breakpoint-up($md) {
        flex: 1;
        @include px(1rem);
      }
    }

    & > * {
      width: 100%;
      height: 3rem;
      border-radius: 0.5em;
      min-width: 0;
    }
    button {
      flex: 1.5;
      cursor: pointer;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: var(--primary);
      color: #fff;
      font-weight: 700;
      font-size: 1.025rem;
      &:active {
        opacity: 0.8;
      }
      img {
        filter: brightness(0) invert(1);
        width: 1.2rem;
      }
      @include media-breakpoint-up($md) {
        min-width: 200px;
      }
    }
  }
}
