@import "../mixin.scss";
.LightBox {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);

  .Slider {
    position: absolute;
    top: 50%;
    left: 50%;
    width: Min(420px, 100%);
    transform: translate(-50%, -50%);

    &__preview {
      &--img {
        cursor: default;
      }
    }

    .Slider__preview--icon {
      display: inline-block;
      top: 40%;

      &.previous {
        left: 0%;
        transform: translateX(-50%);
      }
      &.next {
        right: 0%;
        transform: translateX(50%);
      }
    }
  }
  .close {
    position: absolute;
    display: block;
    background-color: transparent;
    right: 0;
    top: -2rem;
    width: 1.2rem;
    cursor: pointer;
  }
}
