@import "../mixin.scss";
.Nav {
  height: 5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: white;
  @include px(2rem);

  img {
    cursor: pointer;
  }
  &__menu {
    @include media-breakpoint-up($md) {
      display: none;
    }
  }
  &__cart {
    margin-left: auto;
  }
  &__avatar {
    width: 1.6rem;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    &:hover::after,
    &:focus::after,
    &.current::after {
      width: 100%;
    }
  }

  &__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--primary);
    transition: width 200ms $t-func;
  }

  &__links {
    display: flex;
    gap: 1rem;
    height: 100%;
    @include mx(1rem);
    a {
      font-weight: 500;
      color: var(--dark-grayish-blue);
      transition: color 200ms $t-func;
      &:hover {
        color: var(--dark-blue);
      }
    }
  }
}

@include media-breakpoint-down($md) {
  .Nav {
    &__links {
      display: none;
    }
  }
}
