@import "../mixin.scss";
$h-nav: 5rem;
.Nav {
  height: $h-nav;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--grayish-blue);
  max-width: $xl;
  @include mx(auto);
  @include px(2rem);

  img {
    cursor: pointer;
  }
  &__menu {
    z-index: 10;
    @include media-breakpoint-up($md) {
      display: none;
    }
  }

  &__cart {
    margin-left: auto;
    position: relative;
    display: flex;
    img {
      width: 1.5rem;
    }
    .num-of-items {
      font-size: 0.7rem;
      background-color: var(--primary);
      color: #fff;
      font-weight: 700;

      position: absolute;
      top: -20%;
      right: -30%;
      border-radius: 0.8rem;
      @include px(0.4rem);
    }
  }
  &__avatar {
    width: 1.8rem;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    font-weight: 500;
    color: var(--dark-grayish-blue);
    transition: color 200ms $t-func;
    &:hover {
      color: var(--dark-blue);
    }

    &:hover::after,
    &.current::after {
      width: 100%;
    }
  }

  &__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    height: 3px;
    background-color: var(--primary);
    transition: width 200ms $t-func;
  }

  &__links {
    display: flex;
    gap: 1rem;
    height: 100%;
    width: 100%;
    @include px(1rem);
  }
}

@include media-breakpoint-down($md) {
  .Nav {
    &__logo {
      max-width: 100%;
    }
    &__links {
      position: fixed;
      flex-direction: column;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      width: 66.66%;
      transform: translateX(-100%);
      transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      padding-top: $h-nav + 1rem;
    }
    &__link {
      height: fit-content;
      font-weight: bold;
      color: var(--dark-blue);
      &:hover {
        color: var(--dark-grayish-blue);
      }
      &::after {
        content: none;
      }
    }
  }
}
