@import "../mixin.scss";
.Preview {
  @include space-y(2rem);
  &--img {
    width: 100%;
    border-radius: 0.8rem;
  }
  &__selector {
    display: flex;
    justify-content: space-between;
    &--div {
      width: 20%;
      border-radius: 0.5rem;
      outline: solid var(--primary);
      outline-width: 0;
      overflow: hidden;
    }
    &--img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      transition: opacity 200ms;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
