@import "../mixin.scss";

.Slider {
  &__preview {
    position: relative;
    overflow-x: hidden;
    &--wrapper {
      @include media-breakpoint-up($md) {
        border-radius: 1rem;
        overflow: hidden;
      }
    }
    &--imgs {
      display: grid;
      grid-template-columns: repeat(4, 100%);
      transition: transform 200ms;
    }
    &--img {
      width: 100%;
      object-fit: cover;
      @include media-breakpoint-up($md) {
        cursor: pointer;
      }
    }
    &--icon {
      position: absolute;
      z-index: 1;
      background-color: #fff;
      width: 2rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      user-select: none;
      opacity: 1;
      transition: opacity 140ms;
      @include media-breakpoint-up($md) {
        display: none;
      }
      img {
        width: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.previous {
        left: 2.5%;
      }
      &.next {
        right: 2.5%;
      }
      &:hover {
        opacity: 0.85;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}

.LightBox {
  .Slider__preview--icon {
    display: inline-block;
  }
}
