@import "./mixin.scss";
.App {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  &--container {
    @include media-breakpoint-up($md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
