@import "./mixin.scss";
.App {
  position: relative;
  height: 100vh;
  max-width: $xl;
  @include mx(auto);
  &--container {
    @include py(2rem);
    @include media-breakpoint-up($md) {
      @include mx(auto);
      @include px(1rem);
      display: grid;
      grid-template-columns: minmax(0, 1fr) 52%;
      gap: 2rem;
    }
    @include media-breakpoint-up($lg) {
      @include py(4rem);
      gap: 5rem;
    }
  }
}
