@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700;800&display=swap");

:root {
  --primary: hsl(26, 100%, 55%);
  --primary-1: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-75: hsla(0, 0%, 0%, 0.75);
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100%;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
