// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$t-func: cubic-bezier(0.4, 0, 0.2, 1);

@mixin px($value: 0rem) {
  padding-left: $value;
  padding-right: $value;
}

@mixin py($value: 0rem) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin mx($value: 0rem) {
  margin-left: $value;
  margin-right: $value;
}

@mixin my($value: 0rem) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin media-breakpoint-down($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin media-breakpoint-up($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin space-y($value) {
  & > * + * {
    margin-top: $value;
  }
}

@mixin space-x($value) {
  & > * + * {
    margin-left: $value;
  }
}
